apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: react-app
  template:
    metadata:
      labels:
        app: react-app
    spec:
      containers:
        - name: react-app
          image: imrishav/gitops-infra:662b4750c51de5e193796ac3cfc082402a666b76
          imagePullPolicy: Always
          ports:
            - containerPort: 80
